{{yield}}

<div class='movie-container' {{action "toggleDetails"}}>
  <img src="http://localhost:3000/images/posters/{{movie.posterFilename}}">
</div>

{{#if isExpanded}}
  <div id="myModal" class="modal">

    <div class="modal-content">
      <span class="close" {{action "toggleDetails"}}>x</span>
      <h2>{{movie.title}}</h2>
      <p class="overview">{{movie.overview}}</p>
      <p>In stock: {{movie.inventory}}</p>
      <button {{action "addToQueue"}}>Add to Queue</button>
    </div>

  </div>
{{/if}}
