  <div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{movie.title}}</h4>
        </div>
        <div class="modal-body">
          {{movie.overview}}
          <p>{{movie.release_date}}</p>
          <p>Inventory: {{movie.inventory}}</p>
          <!-- yield (has handlebars)-->
        </div>
        <div class="modal-footer">
          <button class="btn btn-success btn-xs glyphicon glyphicon-ok" {{action "addQueue" movie}}></button>
        </div>
      </div>
    </div>
  </div>
