{{yield}}

<!-- <div style="hidden" id="deets" class="overview">
  <div class="back">back</div>
  <div class="title">{{movies.title}}</div>
  <div class="infotext">{{movies.overview}}</div>
</div> -->


<div class="pic" {{action "toggleDetails"}}>
  <!-- <input class="image" onclick={{action "info"}} type="image" src="http://localhost:3000/images/posters/{{movies.poster_filename}}" alt="movie poster" /> -->
  <img src="http://localhost:3000/images/posters/{{movie.poster_filename}}">
</div>
<br>
<div class="info">{{movie.title}}</div>

{{#if isExpanded}}
 <div id="myModal" class="modal">

   <div class="modal-content">
     <span class="close" {{action "toggleDetails"}}><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
     <h2>
     {{movie.title}}
     </h2>
     <p>{{movie.overview}}</p>
     <p>In stock: {{movie.inventory}}</p>
     <div class="add">
        <a class="add-to-queue" {{action "addToQueue" movie}}><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
        <p>Add to Queue</p>
     </div>
     <br>
   </div>

 </div>
{{/if}}
