
<!-- <div id="queue">
  {{#each queuedMovies as |movie|}}
  <p>{{movie.title}}</p>
    <div class="tiny-pic"><input class="image" onclick={{action "dequeue"}} type="image"  src="http://localhost:3000/images/posters/{{movie.poster_filename}}" alt="movie poster" /></div>
  {{/each}}
</div> -->


<div id='container' data-page="1">
  {{#each movie as |movie|}}
    <div class='movie'>
      <div style='hidden' id="deets" class="overview">
        {{movie.title}}<br>
        {{movie.overview}}<br>
      </div>
      <div class="pic"><input class="image" ondblclick={{action "select"}} onclick={{action "info"}} type="image"  src="http://localhost:3000/images/posters/{{movie.poster_filename}}" alt="movie poster" /></div>
    </div>
  {{/each}}
</div>
