<h2>Emberflix</h2>



{{#each model as |movie|}}
  <div class="movie">
   {{#link-to 'movie' graduate}}
   <img class="poster" src="http://localhost:3000/images/posters/{{movie.posterFilename}}">
   {{/link-to}}

   {{#link-to 'graduate' graduate}}
       <h2 class="name">{{movie.title}}</h2>
   {{/link-to}}
       <div class="hidden">{{movie.releaseDate}}{{movie.overview}}</div>
   </div>
{{/each}}

{{outlet}}
