<h1>Kiosk </h1>

<div class="controls">
  <button class="prev" {{action "getPrev" on="click"}} id="prev">Previous</button>
  <button class="next" {{action "getNext" on="click"}} id="next">Next</button>
</div>

<div id='movies'>
  <!-- {{movie-list queuedMovies=model}} -->
  {{movie-list movie=model addToQueue="addToQueue"}}
</div>
queue: {{queue}}


<div id='queue' >
  {{#each queue as |movie|}}
    <div class='movie'>
      <div class="pic"><input class="image" type="image"  src="http://localhost:3000/images/posters/{{movie.poster_filename}}" alt="movie poster" />
      </div>
    </div>
  {{/each}}
</div>
{{outlet}}
