<h1>Kiosk </h1>

<div class="controls">
  <button class="prev" {{action "getPrev" on="click"}} id="prev">Previous</button>
  <button class="next" {{action "getNext" on="click"}} id="next">Next</button>
</div>

<div id='movies'>
  {{movie-list movie=model addToQueue="addToQueue"}}
</div>

{{#if displayQueue}}
  <h3>Your queue</h3>
  <p>Click on a movie to remove it from your queue or click
    <button class="clear" {{action "clearQueue" on="click"}}>Clear Queue</button>

  </p>
    <div id='queue' >
    {{#each queue as |movie|}}
      <div class='movie'>
        <div><input class="mini-pic" type="image" onclick={{action "deleteFromQueue" movie}} src="http://localhost:3000/images/posters/{{movie.poster_filename}}" alt="movie poster" />
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
{{outlet}}
