<h2>List of Movies</h2>
<section class="col-md-9">
  {{#each model.movies as |movie|}}

  <section class="movie-card">
    <img class="movie-poster" {{action "openModal" movie}} src="http://localhost:3000/images/posters/{{movie.poster_filename}}"/>
    <p class="movie-title">{{movie.title}}</p>
    <button class="btn btn-success btn-xs" {{action "addQueue" movie}}>Add to Queue</button>
  </section>

  {{/each}}

  {{outlet "modal"}}

  <section>
    <button class="btn btn-primary" {{action "prevPage"}}>Previous</button>
    <button class="btn btn-primary" {{action "nextPage"}}>Next</button>
  </section>
</section>

<aside class="col-md-3">
  <h2>Queue</h2>
  {{#each queue as |movie|}}
  <p>
    {{movie.title}}
    <span {{action "removeQueue" movie}}>X</span>
  </p>
  {{/each}}
  <button class="btn btn-danger btn-xs" {{action "resetQueue"}}>Clear Queue</button>
</aside>
