

<div class="queue">
  <h2>Your Queue</h2>
</div>

<div class="movie-list">
  <h2>Movies</h2>
  <button id="previous" {{action "previousPage"}}>Previous</button>
  <button id="next" {{action "nextPage"}}>Next</button>
<table>
    {{#each model as |movie|}}
      <div class="poster">
        {{#link-to "show" movie.title}}
          <p class="title">{{movie.title}}</p>
          <p class="description">({{movie.release_date}}) - {{movie.overview}}</p>
          <img
          src='http://localhost:3000/images/posters/{{movie.poster_filename}}'>
        {{/link-to}}
      </div>
    {{/each}}
</table>
</div>
