<nav class="navbar navbar-default">
  <div class="container-fluid">
    Your Queue
    <br>
    {{#if model.q}}
      <button {{action "deleteQueue"}} class="btn btn-danger">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button>
    {{else}}
      Empty!
    {{/if}}

    <br>
    <div class="navbar-header">
      <p class="navbar-text">
        {{#each model.q as |movie|}}
            <a href="#" {{action "deleteFromQueue" movie}}>
              <img src="http://localhost:3000/images/posters/{{movie}}" class="queueimg">
            </a>
        {{/each}}
      </p>
    </div>
  </div>
</nav>

<div class="buttons">
  <button {{action "previousPage"}} class="btn btn-primary navbtn leftnavbtn">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
  </button>

  <button {{action "nextPage"}} class="btn btn-primary navbtn">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
  </button>

</div>

<div class="movieoutlet">
{{outlet}}
</div>

<br>
<div class="row">
  {{#each model.m as |movie|}}
    <div class="col-md-3">
      {{#link-to "movie" movie.title}}
        <img src="http://localhost:3000/images/posters/{{movie.poster_filename}}" class="img-thumbnail">
      {{/link-to}}
        <br><br>
    </div>
  {{/each}}
</div>
