<h2>Movies Go Here!!!</h2>

  {{#each model as |movie|}}
      {{movie.title}}
      <br>
      <img src="http://localhost:3000/images/posters/{{movie.poster_filename}}">
      <br><br>
  {{/each}}

<button {{action "previousPage"}}> Previous </button>
<button {{action "nextPage"}}> Next </button>

{{outlet}}
