<div class="selectedmovie">
<h2> {{model.title}} </h2>
<br>
<!-- {{model.release_date}} -->
{{model.overview}}
<br><br>
Copies Available: {{model.inventory}}
<br><br>
<button {{action "boop"}} class="btn btn-success">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>

<button {{action "unselect"}} class="btn btn-danger">
  <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
</button>


</div>
