<h2>Much Wow</h2>

<table>
  {{#each model as |movies|}}
    <td>
      {{movies.title}}
      <br>
      <img src="http://localhost:3000/images/posters/{{movies.poster_filename}}">
    </td>
  {{/each}}
</table>

<button {{action "previousPage"}}> Previous </button>
<button {{action "nextPage"}}> Next </button>

{{outlet}}