{{outlet}}

<h1>List of movies should be here, {{model.inventory}}</h1>


<ul>
  {{#each model as |movie|}}
    <li>{{ movie.title}}</li>

    {{#if movie.selected}}

    <button {{action 'moreInfo'}}>Hide</button>
    <li class='info'>
      {{movie.overview}}
    </li>

      {{else}}

      <button {{action 'moreInfo' movie.id}}>More Info</button>
      {{/if}}




  {{/each}}
</ul>





<form {{action "nextTen" pageNumber on="submit"}}>
  <button type="submit">Next Page</button>
</form>

<form {{action "previousTen" pageNumber on="submit"}}>
  <button type="submit">Previous Page</button>
</form>
