{{outlet}}





<div class="queue">
  {{#each model.q as |queued|}}
  <button class="button"{{action "deQueue" queued}}>
  <img src="http://localhost:3000/images/posters/{{queued}}">
</button>
  {{/each}}
</div>

<div class="movies">

{{#each model.m as |movie|}}
    <button class="poster"{{action "enQueue" movie.poster_filename}}>
    <img src="http://localhost:3000/images/posters/{{movie.poster_filename}}">
    </button>
    {{#link-to "movie" movie.title}}
    <button{{over-view movie=movie}}>more info</button>
    {{/link-to}}
{{/each}}
</div>






<form {{action "nextTen" pageNumber on="submit"}}>
  <button type="submit">Next Page</button>
</form>

<form {{action "previousTen" pageNumber on="submit"}}>
  <button type="submit">Previous Page</button>
</form>
