{{outlet}}

{{#each model as |movie|}}
  <div class= "col-md-4">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <img class="thumbnail" src="http://localhost:3000/images/posters/{{movie.poster_filename}}">
        </div>
        <div class="back">
          <p class= "title"><b>{{movie.title}}</b></p>
          <p class= "overview"><b>Synopsis:</b> <br>{{movie.overview}}</p>
          <p class= "date"><b>Released: </b>{{movie.year}}</p>
        </div>
      </div>
    </div>
  </div>
{{/each}}

<div class="buttons">
<button {{action "previousPage"}}> Previous </button>
<button {{action "nextPage"}}> Next </button>
</div>