{{outlet}}

<h1>List of movies should be here, {{model.inventory}}</h1>



{{#each model as |movie|}}
    <li>{{ movie.title}}</li>
    {{#link-to 'queue'}}
    queue this movie
    {{/link-to}}

    {{#link-to "movie" movie.title}}<br>

    more info
      <li class='info'>
      </li>
{{/link-to}}
{{/each}}

<img src="http://localhost:3000/images/posters/{{movie.poster_filename}}">


<form {{action "enQueue" on="submit" }}>
  <button type="submit">Select</button>
</form>


<form {{action "nextTen" pageNumber on="submit"}}>
  <button type="submit">Next Page</button>
</form>

<form {{action "previousTen" pageNumber on="submit"}}>
  <button type="submit">Previous Page</button>
</form>
