<body>
<head>
<h1>Wouldst Thou Like a Movie</h1>
<button id="prev-next" {{action "nextPage"}}>Next</button>
<button id="prev-next" {{action "prevPage"}}>Previous</button>
</head>
<div class="sidebar">
  <h2>Queue</h2>
  <button id="prev-next" {{action "clearQueue"}}>Clear Queue</button>
  {{#each queueArr as |title| }}
  <ul>
    <li>{{title}}<button id="prev-next" {{action "deleteMovie" title}}>Delete</button></li>
  </ul>
  {{/each}}
</div>


<div class="movie-detail">
  {{#each model as |movie|}}
  <div {{action "toggleSelected"}}class="movie">
    <h2> {{movie.title}} </h2>
    <img class="poster" alt="poster of a movie" src="http://localhost:3000/images/posters/{{movie.poster_filename}}">
  </div>
  <p class="hidden"> {{movie.release_date}} </p>
  <p class="hidden"> {{movie.overview}} </p>
  <p class="hidden"> {{movie.inventory}} </p>
  <p class="hidden"><button id="add-queue" {{action "addMovie" movie.title}}>Add to Queue</button></p>
  {{/each}}
</div>

{{outlet}}
</body>
