{{outlet}}

<h1>List of movies should be here, {{model.inventory}}</h1>


{{#link-to 'queue'}}
click
{{/link-to}}

{{#each model as |movie|}}
    <li>{{ movie.title}}</li>

    {{#link-to "movie" movie.title}}

      <li class='info'>
      </li>
{{/link-to}}
{{/each}}

<img src="http://localhost:3000/images/posters/{{movie.poster_filename}}">





<form {{action "nextTen" pageNumber on="submit"}}>
  <button type="submit">Next Page</button>
</form>

<form {{action "previousTen" pageNumber on="submit"}}>
  <button type="submit">Previous Page</button>
</form>
