<div class="wholecontainer">
  <h1>MOVIES</h1>

<!-- {{model}} -->

{{ model.meta.pagination.last.number }}
{{name}}
  <div class="moviescontainer">
    <div class="left">
      <button {{action 'prev'}} type="submit" class="prev">&lt;</button>
    </div>

    <div class="middle">
      <ul>
        {{#each model as |movie|}}
          <li>
            <button {{action 'expand'}} type="submit">
              <p class="hiddentext">
                {{movie.title}}
                {{movie.overview}}
              </p>
              <!-- <p class="h" -->
              <img src="http://localhost:3000/images/posters/{{movie.poster_filename}}" alt="Movie">
            </button>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="right">
      <button {{action 'next'}} type="submit" class="next">&gt;</button>
    </div>
  </div>

  <div class="queuecontainer">
    hi
  </div>

</div>
 <!-- style="width:304px;height:228px;"> -->
