<body>
<h1>Wouldst Thou Like a Movie</h1>
<div class="sidebar">
  <h2>Queue</h2>
</div>

<button id="prev-next" {{action "nextPage"}}>Next</button>
<button id="prev-next" {{action "prevPage"}}>Previous</button>

<div class="movie-detail">
  {{#each model as |movie|}}
  <div {{action "toggleSelected"}}class="movie">
    <h2> {{movie.title}} </h2>
    <img class="poster" alt="poster of a movie" src="http://localhost:3000/images/posters/{{movie.poster_filename}}">
  </div>
  <p class="hidden"> {{movie.release_date}} </p>
  <p class="hidden"> {{movie.overview}} </p>
  <p class="hidden"> {{movie.inventory}} </p>
  {{/each}}
</div>

{{outlet}}
</body>
