<button class="prev" {{action "prevPage"}}>Previous</button>
<button class="next" {{action "nextPage"}}>Next</button>
<table>
  <tbody>
    <tr>
      {{#each model as |movie|}}
        <td>
        <div class="cell-data">
          <br>
        {{!--   <div class="wordwrap">{{#link-to "movie" movie.title action="show"}}{{movie.title}}{{/link-to}}</div>
 --}}
          <button id="myBtn"><img src="http://localhost:3000/images/posters/{{movie.poster_filename}}"></button>
            <div id="myModal" class="modal">
              <div class="modal-content">
              <span class="close">x</span>
              <p>Some text in the Modal..</p>
            </div>

</div><br>
         </div> 
{{!--           <div class="queue"><button class="btn btn-default">Add to Queue</button></div>
 --}}        </td>
      {{/each}}
    </tr>
  </tbody>
</table>

<button class="prev" {{action "prevPage"}}>Previous</button>
<button class="next" {{action "nextPage"}}>Next</button>
