{{outlet}}





<div class="queue">

  {{#each model.q as |queued|}}
  <li> {{queued}}</li>
  <button{{action "deQueue" queued}}>
</button>
  {{/each}}

</div>



{{#each model.m as |movie|}}
    <li>{{ movie.title}}</li>
    <button class="poster"{{action "enQueue" movie.poster_filename}}>

    <img src="http://localhost:3000/images/posters/{{movie.poster_filename}}">

    </button>
    <button {{action "lessInfo"}}>Less Info</button>
    {{#link-to "movie" movie.title}}<br>

    <button>more info</button>
      <li class='info'>
      </li>
{{/link-to}}
{{/each}}






<form {{action "nextTen" pageNumber on="submit"}}>
  <button type="submit">Next Page</button>
</form>

<form {{action "previousTen" pageNumber on="submit"}}>
  <button type="submit">Previous Page</button>
</form>
