{{outlet}}

<h1>List of movies should be here, {{model.inventory}}</h1>


<ul>
  {{#each model as |movie|}}
    <li>{{ movie.title}}</li>

    <li>
      <form {{action "select" pageNumber on="submit"}}>
        <button type="submit">More info</button>
      </form>

    </li>

  {{/each}}
</ul>





<form {{action "nextTen" pageNumber on="submit"}}>
  <button type="submit">Next Page</button>
</form>

<form {{action "previousTen" pageNumber on="submit"}}>
  <button type="submit">Previous Page</button>
</form>
