<h2>List of Movies</h2>

{{#each model as |movie|}}
  <section class="movie-card">
    <img class="movie-poster" src="http://localhost:3000/images/posters/{{movie.poster_filename}}"/>
    <p class="movie-title">{{movie.title}}</p>
    <button class="btn btn-success">Add to Queue</button>
    <!-- <p>{{movie.overview}}</p> -->
    <!-- <p>{{movie.release_date}}</p>
    <p>Inventory: {{movie.inventory}}</p> -->
  </section>
{{/each}}

<section>
  <button class="btn btn-primary" {{action "prevPage"}}>Previous</button>
  <button class="btn btn-primary" {{action "nextPage"}}>Next</button>
</section>
