	{{outlet}}


<table class = maintable>
  {{#each model as |movie|}}
    <td class='movie'>
    <span>
      {{movie.title}}
      <img src="http://localhost:3000/images/posters/{{movie.poster_filename}}">
      <div class='moviedetails'>{{movie.title}}, {{movie.overview}}</div>
      </span>
    </td>
  {{/each}}
<button {{action "clickPrev"}}> Previous </button>
<button {{action "clickNext"}}> Next </button>
</table>

<div class="queue">{{outlet "queue"}}</div>