<h2>I am all the movies.</h2>

  {{#each model as |movie|}}
    {{#link-to "movie" movie.title}}
       {{movie.title}}
    {{/link-to}}
      <br>
      <img src="http://localhost:3000/images/posters/{{movie.poster_filename}}">
      <br><br>
  {{/each}}

<button {{action "previousPage"}}> Previous </button>
<button {{action "nextPage"}}> Next </button>

{{outlet}}
