{{outlet}}

<h1>List of movies should be here, {{model.inventory}}</h1>


<h2>Queue</h2>

{{#each model.q as |queued|}}
<li> {{queued}}</li>
<button{{action "deQueue" queued}}> Remove from Queue</button>
{{/each}}




{{#each model.m as |movie|}}
    <li>{{ movie.title}}</li>
    <button{{action "enQueue" movie.title}}>add to queue</button>
    <button {{action "lessInfo"}}>Less Info</button>
    {{#link-to "movie" movie.title}}<br>

    more info
      <li class='info'>
      </li>
      <!-- <img src="http://localhost:3000/images/posters/{{movie.poster_filename}}">-->
{{/link-to}}
{{/each}}






<form {{action "nextTen" pageNumber on="submit"}}>
  <button type="submit">Next Page</button>
</form>

<form {{action "previousTen" pageNumber on="submit"}}>
  <button type="submit">Previous Page</button>
</form>
