<h2>Movies</h2>

<div class="movie-list">
<table>
  <tr>
    {{#each model as |movie|}}
      <td class="poster">
        <p class="title">{{movie.title}}</p>
        <img src='http://localhost:3000/images/posters/{{movie.poster_filename}}'>
      </td>
    {{/each}}
  </tr>
</table>
</div>

<button id="previous" {{action "previousPage"}}>Previous</button>
<button id="next" {{action "nextPage"}}>Next</button>

{{outlet}}
