<h2>List of Movies</h2>

  {{#each model as |movie|}}

  <fieldset>
    <h3>{{movie.title}}</h3>
    <p>{{movie.overview}}</p>
    <p>{{movie.release_date}}</p>
    <p>{{movie.inventory}}</p>
    <img src="http://localhost:3000/images/posters/{{movie.poster_filename}}"/>
    <p>{{movie.poster_filename}}</p>
  </fieldset>
  {{/each}}
