<h2>Much Wow</h2>
<div class='controls'>
  <button {{action 'clickPrev'}}> Previous </button>
  <button {{action 'clickNext'}}> Next </button>
</div>
<div class='container'>
  {{#each model as |movies|}}
    <div class='movie'>
      {{movie-selected movie=movies addToQueue=(action 'addMovie')}}
    </div>
  {{/each}}
</div>
<div class='controls'>
  <button {{action 'clickPrev'}}> Previous </button>
  <button {{action 'clickNext'}}> Next </button>
</div>

<aside>
  <h2>Queue</h2>
  {{#each queue as |movie|}}
    <div class="movie-queue">
      <img class="thumb" src="http://localhost:3000/images/posters/{{movie.poster_filename}}">
      <div class="after" {{action 'removeMovie' movie on='click'}}> 
        <br>
        Remove <br>
        From <br>
        Queue 
      </div>
      <br>
    </div>
  {{/each}}
</aside>
