<h2>List of Movies</h2>

{{#each model as |movie|}}
  <fieldset>
    <img class="posters" src="http://localhost:3000/images/posters/{{movie.poster_filename}}"/>
    <h3>{{movie.title}}</h3>
    <p class="overview">{{movie.overview}}</p>
    <p>{{movie.release_date}}</p>
    <p>Inventory: {{movie.inventory}}</p>
  </fieldset>
{{/each}}

<div class="controls">
  <button class="prev" id="prev" {{action "prevPage"}}>Previous</button>
  <button class="next" id="next" {{action "nextPage"}}>Next</button>
</div>
