<button class="prev" {{action "prevPage"}}>Previous</button>
<button class="next" {{action "nextPage"}}>Next</button>
<div id="container">
      {{#each model as |movie|}}
        <div class="poster">
          <img src="http://localhost:3000/images/posters/{{movie.poster_filename}}"><br>
          <div class="queue-button"><button class="btn btn-default queue">Add to Queue</button></div>
         </div> 
      {{/each}}
</div>

<button class="prev" {{action "prevPage"}}>Previous</button>
<button class="next" {{action "nextPage"}}>Next</button>